<form class='search-form' id='search-form'>
  <input type='text' name='query' autocomplete='off' placeholder='Search images...' />
  <label>
    Count image on page
    <input type='number' name='countOnPage' placeholder='count element on page' value='4' />
  </label>
  <label>
    Show button "Load more"
    <input type='checkbox' name='pagination' />
  </label>
</form>