#search-form {
  display: block;
  & input {
    margin-bottom: 30px;
  }

  & label {
    display: block;
  }

  @media screen and (min-width: 720px) {
    display: flex;
    & input {
      margin-bottom: 0;
      margin-right: 30px;
    }
  }
}
